

<nav class="">
 
  <div class="mb-4 text-center" >  
    <%= link_to image_tag("shado-logo.png", width: 100), root_path, class: "" %>
  </div>

  <%= link_to(root_path, class:"navlink") do %>
    <i class="bi bi-house icon-navbar middled"></i>
    <span class="text-navbar middled"> Home  </span>
  <% end %> 

  <%= link_to(posts_path, class:"navlink") do %>
    <i class="bi bi-people icon-navbar middled"></i>
    <span class="text-navbar middled"> Fan Base  </span>
  <% end %>  

  <% if current_user %>
    <%= link_to(notifications_index_path, class: "navlink position-relative") do %>
      <i class="bi bi-bell icon-navbar middled"></i>
      <span class="text-navbar middled">Notifications</span>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        <%= @unread.count >= 9 ? "9+" : @unread.count %>
      </span>
    <% end %>
  <% end %>

  <% if user_fan.present? %>
    <%= link_to(athletes_path, class:"navlink") do %>
      <i class="bi bi-star icon-navbar middled"></i>
      <span class="text-navbar middled"> Subscriptions  </span>
    <% end %>  
  <% end %>

  <% if current_user.present? %>
    <%= link_to(user_path(current_user.id), class:"navlink") do %>
      <i class="bi bi-person icon-navbar middled"></i>
      <span class="text-navbar middled"> My Profile  </span>
    <% end %>  
  <% end%>

  <% if user_athlete.present? %>
      
    <%= link_to(dashboard_index_path, class:"navlink") do %>
      <i class="bi bi-clipboard2-data icon-navbar middled"></i>
      <span class="text-navbar middled"> Dashboard  </span>
    <% end %>  

    <%= link_to(new_post_path, class:"navlink nav-newpost") do %>
      <span> New Post </span>
    <% end %>  
  <% end %>

</nav>