<h1>StepsSubsribe#step2</h1>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
</div>

2 out of 3
<hr>

<p>

    ventilation price: <br>

    Net Athlete: <%= number_to_currency(@netAthlete) %> <br>
    Platform Fees: <%= number_to_currency(@platformFees.to_f) %> <br>

    Payment Fees: <%= number_to_currency(@paymentFees) %><br>

    <hr>
    <strong> 
      total: <%= number_to_currency(@campaign.subscription) %> <br>
    </strong>
</p>

<%= render "subscriptions/form_main_subscription", subscription: @subscription %>



<%#= link_to "Go to step3", steps_subscribe_step3_path, class: "w-100 btn btn-primary" %>
