   <%= render "navbar" %>

 
 <h2>Montization</h2>
 
  <h2>Mes campagnes
    (nb: <%= @campaigns.count %>) 
  </h2>
  <%= render @campaigns %>

  <%= link_to "My subscription", new_campaign_path, class: "btn btn-primary my-2" %>
  <%# passer un parametre avec periodicite est vraie pour main campaign %>
  <%#= link_to "edit subscription", campaign_path(1), class: "btn btn-primary my-2" %>
  <%# mettre un edit vers campaign main de l'athlete si existe %>


  <%= link_to "New campaign", new_campaign_path, class: "btn btn-success my-2" %>
