
<div data-controller="preview-img" class="d-flex justify-content-center align-items-center">
  <div class="card p-4 signup-form">

  <%= form_with(model: athlete) do |form| %>
    <% if athlete.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(athlete.errors.count, "error") %> prohibited this athlete from being saved:</h2>

        <ul>
          <% athlete.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    
        <%= form.file_field :profile_pic, id: "profile-pic-athlete-input", 
            class: "form-control", style: "display: none;", 
            accept: "image/*", "data-action": "change->preview-img-ath#previewImage" %>

        
        <div class="text-center my-4">
          <label for="profile-pic-athlete-input">
            <div id="profile-pic-athlete-preview" data-preview-img-ath-target="preview">
              <%= image_tag("profile_default", class: "profile-pic") %>
            </div>
          </label>
        </div>

        <h4 class="text-center fw-bold mb-4">Athlete profile</h4>

        <div class="input-group my-2">
          <%= form.label :name, class:"input-group-text label-with-format label-colored" %>
          <%= form.text_field :name, class:"form-control " %>
        </div>
    
        <div class="input-group my-2">
          <%= form.label :sport, class: "input-group-text label-with-format label-colored" %>
          <%#= form.select :sport_id, @sports.collect { |c| [c.name, c.id] }, 
                  {include_blank: :true}, class: "form-select text-center" %>
        </div>


    <div class="input-group my-2">
      <%= form.label :user_id, class: "input-group-text label-with-format bg-secondary text-light" %>
      <% if athlete.persisted? %>
        <%= form.text_field :user_id, class: "form-control field-with-format" %>
      <% else %>
         <%= form.text_field :user_id, value: current_user.id, class: "form-control field-with-format" %>     
      <% end %>
    </div>



    <div class="input-group my-2">
      <%= form.label :bio, class: "input-group-text label-with-format bg-secondary text-light" %>
      <%= form.text_area :bio, class: "form-control field-with-format" %>
    </div>


    <div class="input-group my-2">
      <%#= form.text_field :user_id, value: current_user.id %>
    </div>

    <div class="container-fluid text-end mt-2 p-2"> 
      <button type="submit" class="btn btn-primary">
        <span><i class="bi bi-check"></i> Update</span>
      </button>
    </div>

  <% end %>
</div>

</div>

</div>