
<div class="m-2 p-2 text-center" >  
  <%= link_to image_tag("shado-logo.png", width:50), root_path, class: "" %>
</div>

<%= link_to(root_path, class:"navlink") do %>
  <i class="bi bi-house iconsizenavbar"></i>
  <span class="textnavbar"> Home  </span>
<% end %> 

<%= link_to(posts_path, class:"navlink") do %>
  <i class="bi bi-people iconsizenavbar"></i>
  <span class="textnavbar"> Fan Base  </span>
<% end %>  

<%= link_to(root_path, class:"navlink") do %>
  <i class="bi bi-bell iconsizenavbar"></i>
  <span class="textnavbar"> Notifications  </span>
<% end %>  

<%= link_to(athletes_path, class:"navlink") do %>
  <i class="bi bi-star iconsizenavbar"></i>
  <span class="textnavbar"> Subscriptions  </span>
<% end %>  

<%= link_to(root_path, class:"navlink") do %>
  <i class="bi bi-person iconsizenavbar"></i>
  <span class="textnavbar "> My Profile  </span>
<% end %>  

<%= link_to(root_path, class:"navlink") do %>
  <i class="bi bi-clipboard2-data iconsizenavbar"></i>
  <span class="textnavbar"> Dashboard  </span>
<% end %>  

<%= link_to(new_post_path, class:"navlink navnewpost") do %>
  <span> New Post </span>
<% end %>  


 <%= button_to "", destroy_user_session_path, method: :delete, class: "fa-solid fa-right-from-bracket btn btn-danger"  %>


