
<div class="m-2 p-2 text-center" >  
  <%= link_to image_tag("shado-logo.png", width:50), root_path, class: "" %>
</div>
 
  <%= link_to "Home", root_path, class: "nav-btn" %>

  <%= link_to "Fan Base", posts_path, class: "nav-btn" %>

  <%= link_to "Notification", root_path, class: "nav-btn" %>

  <%= link_to "Subscriptions", athletes_path, class: "nav-btn" %>
  
  <%= link_to "My Profil", "#", class: "nav-btn" %>

  <%= link_to "Dashboard", "#", class: "nav-btn" %>
 
  <%= link_to "New Post", new_post_path, class: "navnewpost" %>


<style>
 .nav-btn{ 
    margin: 10px;
    padding: 10px;
    font-size: large;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    color: grey;
 }

  .nav-btn:hover{ 
   background-color: #E5F7FD;
   color: #00AFF0;
}
</style>