<div class="card" id="<%= dom_id fan %>">

    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag(fan.profile_pic, class: "card-img-top") if fan.profile_pic.present? %> 
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> <%= fan.pseudo %> </h5>
          <p class="card-text">
            <%= fan.bio %>
          </p>
          <p class="card-text">
            <small class="text-muted">
              <%= fan.user.email %>
            </small></p>
        </div>
      </div>
    </div>


    <%= link_to "Voir", fan_path(fan), class: "btn btn-sm btn-primary fa-solid fa-eye m-1" %>

</div>
