<div id="<%= dom_id fan %>">
  <p>
    <strong>Pseudo:</strong>
    <%= fan.pseudo %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= fan.bio %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @user.email %>
  </p>

  <%= button_to "Edit this fan", edit_fan_path(@fan) %>


</div>
