<%= form_with(model: association) do |form| %>
  <% if association.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(association.errors.count, "error") %> prohibited this association from being saved:</h2>

      <ul>
        <% association.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<hr>  

  <div>
    <h5> Athlete </h5>
    <%= render @athlete  %>
  </div>

  <div>
    <h5> Campagne </h5>
    <%= render @campaigns  %>
  </div>


  <div>
    <% if @association.persisted? %>
      <%= form.hidden_field :athlete_id %>
      <%= form.hidden_field :fan_id %>
    <% else %>
      <%= form.hidden_field :athlete_id, value: @athlete.id %>
      <%= form.hidden_field :fan_id, value: user_fan %>
    <% end %>

  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>
