<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
    <%#= form.label :title, style: "display: block" %>
    <%#= form.text_field :title %>
  

  
    <%#= form.label :location, style: "display: block" %>
    <%#= form.text_field :location %>
  

  <div class= "m-0 p-0">
    <%#= form.label :content, style: "display: block" %>
    <%= form.text_area :content, placeholder: "Compose new post... ", class: "form-control createpostdesign" %>
  </div>

  <% if post.persisted? %>
    <%= form.hidden_field :athlete_id %>
  <% else %>
    <%= form.hidden_field :athlete_id, value: @athlete.id %>
  <% end %>

  <%# tempo alternative athlete ou fan  %>
  <% if @fan.present? %>
    <div>
      <%#= form.label :fan_id, style: "display: block" %>
      <%= form.hidden_field :fan_id, value: @fan.id %>
    </div>
  <% end %>

<div class="image-upload">
   <label for="file-input">
     <span class="bi bi-check"></span>
   </label>
   <%= form.file_field :image1, id:"file-input" %>
</div>

<div>
    <%= form.label :file %>
    <%= form.file_field :file %>
</div>

<div class="container-fluid text-end m-2 p-2"> 
  <button type="submit" class="btn btn-primary">
    <span><i class="bi bi-check"></i> Create!</span>
  </button>
</div>

<% end %>

<style>
.image-upload > input {
   display: none;
}
.image-upload > label {
  cursor:pointer;
}
</style>