<div id="<%= dom_id post %>">
 <%
=begin%>
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= post.location %>
  </p>
 
<%
=end%>
  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

<%
=begin%>
   <p>
    <strong>Athlete:</strong>
    <%= post.athlete_id %>
  </p> 
<%
=end%>

  <%= image_tag(post.image1, class:"img-fluid rounded") if post.image1.present? %> 


</div>
