<div class="card card-main" id="<%= dom_id post %>">

  <p>
    <strong>Athlete:</strong>
    <%= athlete_full_name(post.athlete_id) %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

    <%= image_tag(post.image1, class:"img-fluid rounded") if post.image1.present? %> 
    <%= video_tag(url_for(post.file), controls: true, class: "p-2") if post.file.present? %>


    <div class="flex-element m-1">
      <%= button_to "", post, method: :delete, class: "btn btn-sm btn-danger fa-solid fa-trash m-1" %>
      <%= link_to "", edit_post_path(post), 
            class: "btn btn-sm btn-secondary fa-solid fa-pen-to-square m-1", 
            method: :post %>
      <%= link_to "", post_path(post), class: "btn btn-sm btn-primary fa-solid fa-eye m-1" %>
    </div>


<div>
  cached_votes_total: <%= post.cached_votes_total %> <br> 
  cached_votes_score: <%= post.cached_votes_score %> <br> 
  cached_votes_up: <%= post.cached_votes_up %> <br> 
  cached_down_up: <%= post.cached_votes_down %> <br> 

</div>


  <%#= button_to upvote_label(post, current_user), upvote_post_path(post), 
        method: :patch, 
        style: upvote_label_styles(post, current_user)  %>
  <%#= button_to downvote_label(post, current_user), downvote_post_path(post), method: :patch, 
        style: downvote_label_styles(post, current_user)  %>

  
    <%= button_to upvote_label(post, current_user), vote_post_path(post, type: :upvote), 
        method: :patch, 
        style: upvote_label_styles(post, current_user)  %>
  <%= button_to downvote_label(post, current_user), vote_post_path(post, type: :downvote), 
        method: :patch, 
        style: downvote_label_styles(post, current_user)  %>


</div>
