<div class="card card-main" id="<%= dom_id campaign %>">
  <p>
    <strong>Title:</strong>
    <%= campaign.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= campaign.description %>
  </p>

  <p>
    <strong>Periodicity:</strong>
    <%= campaign_label(campaign.periodicity) %>
  </p>

  <p>
    <strong>Subscription:</strong>
    <%= campaign.subscription %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= campaign.target %>
  </p>

  <p>
    <strong>Periode:</strong>
    <%= campaign.start %> | <%= campaign.end %>
  </p>

    <%#= campaign.athlete_id %>

</div>


<div> 


   nb sub:<%= sub_count(campaign) %> <br> 

   my subs : <br>

   <% sub_current_fan(campaign, user_fan).each do |sub| %>
    <%= link_to "Edit sub #{sub}" , subscription_path(sub) %>  <br>
  <% end %> 
</div>